body {
    padding-top: 2em;
    background-color: #fbfbfb; /*#ebebeb;*/
}

main {
    overflow: auto;
    padding-bottom: 100px;
}

.verticalgap {
    display: block;
    height: 20px;
}

.navbar-brand > img {
    position: relative;
    vertical-align: text-top;
    display: inline;
    margin: -7px 10px 5px 0px;
    height: 38px;
    line-height: 35px;
}

.navbar-brand > strong {
    text-shadow: 2px 2px 2px #999999;
}
.companyName h1 {
    text-shadow: 2px 2px 2px #5f5f5f;
}

.companyName h3 {
    text-shadow: 2px 2px 2px #5f5f5f;
}

footer {
    position:relative;
    vertical-align:bottom;
    background: #efefef !important;
    font-size: 11px;
    margin-top:5px;
    z-index:3;
}
.mylogo {
    padding-top: 1em;
    padding-right: 10px;
}

.myfigures {
    position: relative;
    z-index: 0;
    overflow: auto;
}

.images {
    position: relative;
    padding-top: 10px;
    max-width:80%;
}

.jumbotron {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: rgba(254,254,254,0.85);
    overflow: visible;
    color: black;
    padding: 2%;
}

.jumbotron p {
    font-size: 120%;
    font-weight:300;
    text-align: justify;
}

.jumbotron h1 {
    font-weight:400;
    font-size: 24px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 991px) {
     
    .jumbotron p {
        font-size: 100%;
        font-weight:400;
    }
    .jumbotron h1 {
        font-weight:500;
    }
    
    .container {
        width: 100%;
        padding: 5px;
    }

    .myxsfigures {
        position:absolute;
        z-index: -1;
    }

    .images {
        position: relative;
        z-index:-1;
        opacity: 0.25;
        margin-top:10%;
        max-width:unset;
    }
}

@media only screen and (max-width: 550px) {
    .myfigures {
        padding-top: 50%;
    }
}

.circlebutton {
    position: relative;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
    font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #999999;
	line-height: 25px;
	text-align: center;
	background: #121212;
}

.circlebutton:hover {
    text-decoration: none;
    color: #efefef;
}

.circlebutton:link {
    text-decoration: none;
}

.circlebutton:active {
    text-decoration: none;
}

.circlebutton:visited {
    text-decoration: none;
}
.circlebutton:focus {
    text-decoration: none;
}
